{% include base_path %}
{% assign author = site.author %}
<div itemscope itemtype="https://schema.org/Person">
  <div class="author__avatar">
    <img src="{{ base_path }}/images/{{ author.avatar }}" alt="{{ author.name }}" width="175" height="175">
  </div>
  <div class="author__content">
    <h3 class="author__name" itemprop="name">{{ author.name }}</h3>
    <p class="author__chinese" lang="zh">{{ author.chinese_name }}</p>
    <p class="author__bio">{{ author.bio }}</p>
  </div>
  <div class="author__urls-wrapper">
    <button class="btn btn--inverse" type="button">Contact</button>
    <ul class="author__urls social-icons">
      <li class="author__desktop"><i class="fa-solid fa-location-dot icon-pad-right" aria-hidden="true"></i>{{ author.location }}</li>
      <li class="author__desktop"><i class="fa-solid fa-building-columns icon-pad-right" aria-hidden="true"></i>{{ author.employer }}</li>
      <li class="author__email"><i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i><span>{{ author.email_display }}</span></li>
      <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github icon-pad-right" aria-hidden="true"></i>GitHub</a></li>
      {% if author.googlescholar %}<li><a href="{{ author.googlescholar }}">Google Scholar</a></li>{% endif %}
      <li><a href="{{ base_path }}/files/Daifeng_Li_CV.pdf"><i class="fas fa-fw fa-file-pdf icon-pad-right" aria-hidden="true"></i>CV (PDF)</a></li>
    </ul>
  </div>
</div>
